IO_LOC  "switch" 31;
IO_PORT "switch" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i3" 25;
IO_PORT "i3" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i2" 26;
IO_PORT "i2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i1" 27;
IO_PORT "i1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c2" 28;
IO_PORT "c2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "i0" 29;
IO_PORT "i0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c1" 30;
IO_PORT "c1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c0" 33;
IO_PORT "c0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "segments[3]" 34;

IO_LOC  "segments[4]" 40;

IO_LOC  "segments[6]" 42;

IO_LOC  "segments[5]" 41;

IO_LOC  "segments[0]" 53;

IO_LOC  "segments[1]" 54;

IO_LOC  "segments[2]" 55;

IO_LOC  "led[0]" 10;
IO_PORT "led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[1]" 11;
IO_PORT "led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[2]" 13;
IO_PORT "led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "led[3]" 14;
IO_PORT "led[3]" DRIVE=8 IO_TYPE=LVCMOS18;
